/* Styling the container for tweets*/
.tweet-display-container {
  margin: 2em 0;
  border: 5px solid #545149;
  display: flex;
  flex-direction: column;
}

/*Styling the container for tweets when hovered over */
.tweet-display-container:hover {
  box-shadow: 10px 10px 5px #c9cbdf;
}

/* Style for the tweet header */
.tweet-head-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 1em auto;
  height: 3em; 
  
  div {
    display: flex;
    align-items: center;

    /* Style the profile Image */
    img {
      height: 5rem;
      width: 5rem;
      margin-right: 1rem;
    }
  }
}

/* Style the handle */ 
.tweet-head-display > h3 {
  color: #c9cbdf;
}

/* Style the body of the tweet */
.tweet-body-display {
  display:flex;
  align-items: center;
  margin: 0 auto;
  width: 95%;
  border-bottom: 5px solid #545149;
  height: 5em;
}

/* Style the footer */
.tweet-foot-display {
  width: 95%;
  height: 2em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Style the icons in the footer of the tweets*/
  i{
    padding: 0 .1em;
    color: #47569d;
  }

  i:hover{
    color: #9d9047;
  }
}